.venv
**/.venv

__pycache__/
build/

/site
.DS_Store
**/.DS_Store
*.egg-info
.vscode

*.gtkw

*.str
*.jou

doc/figure_gen/*

tools/cost_model/latency/*.png
tools/cost_model/utilisation/*.png

moduleparamid
default.svf

Coprocessor_Vivado_Prj/

tools/synopsys/
tools/alib-52/

acc_simulator/third_party/fast-hadamard-transform/
behavioral_simulator/testbench/original_output.txt
tools/sys_modelling/*.png

src/basic_components/synopsis/
.Xil

*.log
*.rpt

.nfs*

*.mem
*.ipynb
*.message

*.pt
*.pth
*.asm
*.bin
specific.sh
acc_simulator/results/
acc_simulator/third_party/
analyzed/

notebooks/
logs*/
kube/
*.out
temp/
ckpts_*
*.db
*.db-journal
co_design/interface/config.toml
target/


*.pdf